<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @bedroom.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bedroom.description %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @bedroom.hotel %>
</p>

<%= link_to 'Edit', edit_bedroom_path(@bedroom) %> |
<%= link_to 'Back', bedrooms_path %>
