<%- model_class = Bedroom -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>

<dl class="dl-horizontal">
</div>
<dl class="dl-horizontal">
<dt><%= image_tag @bedroom.foto.url(:medium),{:class => "img-thumbnail"}%><dt>
</dl>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @bedroom.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @bedroom.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hotel_id) %>:</strong></dt>
  <dd><%= @bedroom.hotel.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @bedroom.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone) %>:</strong></dt>
  <dd><%= @bedroom.telephone %></dd>

</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              bedrooms_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bedroom_path(@bedroom), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bedroom_path(@bedroom),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
