 <div class="container gallery-container">

    <h1>Hoteis Disponiveis</h1>



    <div class="tz-gallery">

        <div class="row">
           <%(1..6).each do |p|%>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <a class="lightbox" href="#">
                  <%=image_tag"fundo.jpg"%>
                </a>
                  <div class="caption">
                    <h3>Hotel: Demostração</h3>
                    <p><b>Descrição:</b> um bom hotel para passar os dias de ferias</p>
                    <p><b>Preço:</b> $200</p>
                    </div>
              </div>
          </div>
          <%end%>
            <% @bedrooms.each do |bedroom| %>
            <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="<%=bedroom_path(bedroom)%>" >
                  <%= image_tag bedroom.foto.url %>
                </a>
                <div class="caption">
                    <h3>Hotel: <%= bedroom.hotel.name %></h3>
                    <p><b>Descição</b><%= bedroom.description %> </p>
                    <p><b>Preço: $</b> <%=  bedroom.price.to_s %> </p>

                </div>
            </div>
            </div>
            <% end %>
        </div>
            <%= will_paginate @bedrooms, list_classes: %w(pagination justify-content-center) %>
    </div>

</div>
