 <div class="container gallery-container">

    <h1>Hoteis Disponiveis</h1>



    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="lightbox" href="#">
                    <%=image_tag"fundo.jpg"%>
                  </a>
                    <div class="caption">
                      <h3>Hotel: Demostração</h3>
                      <p>Descrição: um bom hotel para passar os dias de ferias</p>
                      <p>Preço: $200</p>
                      </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="lightbox" href="#">
                    <%=image_tag"fundo.jpg"%>
                  </a>
                    <div class="caption">
                      <h3>Hotel: Demostração</h3>
                      <p>Descrição: um bom hotel para passar os dias de ferias</p>
                      <p>Preço: $200</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="lightbox" href="#">
                    <%=image_tag"fundo.jpg"%>
                  </a>
                    <div class="caption">
                      <h3>Hotel: Demostração</h3>
                      <p>Descrição: um bom hotel para passar os dias de ferias</p>
                      <p>Preço: $200</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="lightbox" href="#">
                    <%=image_tag"fundo.jpg"%>
                  </a>
                    <div class="caption">
                      <h3>Hotel: Demostração</h3>
                      <p>Descrição: um bom hotel para passar os dias de ferias</p>
                      <p>Preço: $200</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="lightbox" href="#">
                    <%=image_tag"fundo.jpg"%>
                  </a>
                    <div class="caption">
                      <h3>Hotel: Demostração</h3>
                      <p>Descrição: um bom hotel para passar os dias de ferias</p>
                      <p>Preço: $200</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="#">
                      <%=image_tag"fundo.jpg"%>
                    </a>
                    <div class="caption">
                        <h3>Hotel: Demostração</h3>
                        <p>Descrição: um bom hotel para passar os dias de ferias</p>
                        <p>Preço: $200</p>
                    </div>
                </div>
            </div>
            <% @bedrooms.each do |bedroom| %>
            <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="<%=bedroom_path(bedroom)%>" >
                  <%= image_tag bedroom.foto.url %>
                </a>
                <div class="caption">
                    <h3><%= "Hotel: "+ bedroom.hotel.name %></h3>
                    <p> <%= "Descição: " +bedroom.description %> </p>
                    <p> <%= "Preço: $"+ bedroom.price.to_s %> </p>

                </div>
            </div>
            </div>
            <% end %>
        </div>

    </div>

</div>
