<%# navigation styled for Bootstrap 4.0 %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" <%= link_to 'Inicio', root_path %>>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"<%= link_to 'Hoteis', hotels_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Quartos', bedrooms_path %></a>
        </li>


        <% unless user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Entrar', users_path %> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Cadrastra', new_user_session_path %> </a>

        </li>

          <% else %>


        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Sign Out',  destroy_user_session_path, method: :delete %> </a>
        </li>
        <% end %>



    </div>
  </div>
</nav>
<br>
<br>
<br>
<br>





  <% unless user_signed_in? %>

    <% else %>

      <% end %>
